In [3]:
import pandas as pd

<ipython-input-3-7dd3504c366f>:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [14]:
df = pd.read_csv('data_day1.txt', sep='   ', header=None)

<ipython-input-14-d3b85b70645b>:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv('data_day1.txt', sep='   ', header=None)

In [15]:
df.head()

       0      1
0  35039  67568
1  61770  80134
2  64079  34668
3  61538  86348
4  77448  73688

In [16]:
df.columns = ['left','right']

In [18]:
df = df.apply(sorted, axis=0)

In [20]:
df["difference"]=abs(df["left"]-df["right"])

In [22]:
print(df["difference"].sum())

2164381

In [23]:
counts = df['right'].value_counts()

In [24]:
counts

right
27672    20
65376    19
24301    18
35240    18
81012    18
         ..
42417     1
42619     1
42725     1
42797     1
99950     1
Name: count, Length: 647, dtype: int64

In [25]:
sum_2 = 0
for i in df["left"]:
    sum_2 = sum_2 + i*counts.get(i,0)
print(sum_2)

20719933