In [1]:
import pandas as pd

In [4]:
with open('data_day3.txt', 'r') as file:
    content = file.read()
    data = list(content.split("mul("))

In [6]:
term_sum = 0 
for element in data:
    if ')' in element:
        mul = list(element.split(")"))[0].split(",")
        if len(mul)==2 and len(mul[0])<4 and len(mul[1])<4 and ' ' not in mul[0] and ' ' not in mul[1]:
            try :
                term = int(mul[0])*int(mul[1])
                term_sum = term_sum + term
            except ValueError:
                continue
print(term_sum)

183788984

In [8]:
with open('input.txt', 'r') as file:
    content = file.read()
    data = list(content.split("do"))
data

['xmul(2,4)&mul[3,7]!^',
 "n't()_mul(5,5)+mul(32,64](mul(11,8)un",
 '()?mul(8,5))']

In [20]:
df = pd.DataFrame(columns=["Element","Activated"])
activated = True
i=0
df.loc[i] = [data[i]] + [activated]
for element in data[1:]:
    i=i+1
    if len(element) > 4 and element[0:5]=="n't()" :
        activated = False
        df.loc[i] = [element] + [activated]
    elif len(element)>1 and element[0:2]=="()":
        activated = True
        df.loc[i] = [element] + [activated]
    else:
        df.loc[i] = [element] + [activated]
df

                                 Element  Activated
0                   xmul(2,4)&mul[3,7]!^       True
1  n't()_mul(5,5)+mul(32,64](mul(11,8)un      False
2                           ()?mul(8,5))       True

In [28]:
term_sum = 0 
for _, row in df.iterrows():
    if row["Activated"]:
        el = list(row["Element"].split("mul("))
        print("el: ",el)
        for element in el:
            if ')' in element:
                mul = list(element.split(")"))[0].split(",")
                print("mul: ", mul)
                if len(mul)==2 and len(mul[0])<4 and len(mul[1])<4 and ' ' not in mul[0] and ' ' not in mul[1]:
                    try :
                        term = int(mul[0])*int(mul[1])
                        term_sum = term_sum + term
                    except ValueError:
                        continue
print(term_sum)

el:  ['x', '2,4)&mul[3,7]!^']
mul:  ['2', '4']
el:  ['()?', '8,5))']
mul:  ['(']
mul:  ['8', '5']
48